@import "tailwindcss";
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #0080ff;

}

.rating-container{
    text-align: center;
    padding: 40px 50px;
    border: 1px solid #ddd;
    width:400px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1) ;
}

.stars{
    display: flex;
    justify-content: center;
    color: #ccc;

}

.star-active{
    color: gold;
}

.feedback{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}